.footer {
  margin-bottom: 20px;
  padding: 45px 0px 40px 0px;
  background-color: #9C8679;
  // .footer__body
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.footer-body {

  // .footer-body__logo
  &__logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    transition: color 0.3s ease 0s;
    margin: 0px 20px 20px 0px;
    @media (any-hover: hover) {
      &:hover{
        color: #00ADEF;
      }
    }
  }

  // .footer-body__contacts
  &__contacts {
    margin-right: 20px;
    @media (max-width: 992px) {
      display: flex;
      align-items: center;
      
      margin-right: 0;
    }
    @media (max-width: 560px) {
      flex-wrap: wrap;
    }
  }

  // .footer-body__menu
  &__menu {
    display: flex;
  }
}

.menu-footer {

  // .menu-footer__list
  &__list {
    display: flex;
    flex-direction: column;
    &:not(:last-child){
      margin: 0px 100px 0px 0px;
    }
    @media (max-width: 560px) {
      &:not(:last-child){
        margin: 0px 50px 0px 0px;
      }
    }
  }
  &__item {
    &:not(:last-child){
      margin: 0px 0px 15px 0px;
    }
  }
  // .menu-footer__link
  &__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #F8F8F8;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover{
        color: #00ADEF;
      }
    }
  }
}
.contacts-footer {
  &__body {
    &_top,
    &_bottom,
    &_phone {
      color: #fff;
    }
  }
  &__address {
    margin-bottom: 20px;
    @media (max-width: 992px) {
      margin: 0px 30px 0px 0px;
    }
    @media (max-width: 560px) {
      margin: 0px 0px 10px 0px;
      justify-content: flex-start;
    }
  }
  @media (max-width: 992px) {
    margin-bottom: 30px;
  }
}