<ul class="faq__accordion accordion">
  <li class="accordion__item">
    <div class="accordion__control">
      <h3 class="accordion__title">Вопрос-1</h3>
      <span class="accordion__icon"></span>
    </div>				
    <p class="accordion__text">
      А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми
    </p>				
  </li>
  <li class="accordion__item">
    <div class="accordion__control">
      <h3 class="accordion__title">Вопрос-2</h3>
      <span class="accordion__icon"></span>
    </div>				
    <p class="accordion__text">
      А это ответ 2: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми
    </p>				
  </li>
</ul>