<div class="swiper">
   <div class="swiper-wrapper">
       <!-- Slides -->
      <div class="swiper-slide"> 
            <img src="img/page/Jellyfish.jpg" alt="">
      </div>
      <div class="swiper-slide"> 
            <img src="img/page/Koala.jpg" alt="">
      </div>
      <div class="swiper-slide"> 
            <img src="img/page/Lighthouse.jpg" alt="">
      </div>
   </div>
</div>
<div class="swiper-button">
   <div class="swiper-button-prev">prev</div>
   <div class="swiper-button-next">next</div>
</div>

<div class="swiper-pagination"></div>